services:
  upa-ux-news-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8040:80"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
